<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.utmreserve">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="UTM Reservation"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/bgSplashScreenStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PasswordActivity"></activity>
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".UpdateProfile" />
        <activity android:name=".sports" />
        <activity android:name=".vrms" />
        <activity android:name=".logistics" />
        <activity android:name=".UpdatePassword" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>